* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

aside {
  float: left;
  width: 20%;
}

footer {
  height: auto;
  width: 100%;
  clear: both;
  margin-left: 20px;
  margin-right: 20px;
}

.main-section {
  float: right;
  width: 80%;
  padding-left: 40px;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.header {
  min-width: 20px;
  overflow: hidden;
  background-color: #01579B;
  padding: 20px 10px;
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  -moz-box-shadow: 0 4px 2px -2px rgba(0, 4, 2, -2);
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 4, 2, -2);
  box-shadow: 0 4px 2px -2px gray;
}

.header-content {
  margin-left: 20px;
  margin-right: 20px;
}

#logo {
  margin-top: 5px;
}

img {
  border-radius: 50%;
  width: 36px;
}

/* header links */
.header a {
  float: left;
  color: #80CBC4;
  text-align: center;
  padding: 3px;
  text-decoration: none;
  font-size: 15px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 23px;
  font-weight: bold;
  font-family: Allura;
}

/* background color on mouse-over */
.header a:hover {
  color: black;
}

#navlinks a {
  color: #80CBC4;
  /* background-color: #ddd; */
}

#navlinks a:hover {
  color: black;
  /* background-color: #ddd; */
}

#navlinks a:active {
  color: black;
  background-color: #ddd;
  font-weight: bold;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
  margin-top: 8px;
}

.projects {
  height: auto;
}

.header + .container {
  padding-top: 100px;
}

.side-section {
  height: auto;
  margin-left: 20px;
  font-size: 15px;
  line-height: 25px;
}

.main-section {
  height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: auto; */
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #ECEFF1;
    border-color: dodgerblue;
    color: black;
    -moz-box-shadow: 4 4px 2px -2px rgba(2, 4, 2, -2);
    -webkit-box-shadow: 4 4px 2px -2px rgba(2, 4, 2, -2);
    box-shadow: 4 4px 2px -2px dodgerblue;
    border-radius: 5px;
}

li a.active:hover {
  background-color: #555;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
    -moz-box-shadow: 2 4px 2px -2px rgba(2, 4, 2, -2);
    -webkit-box-shadow: 2 4px 2px -2px rgba(2, 4, 2, -2);
    box-shadow: 2 4px 2px -2px dodgerblue;
    border-radius: 5px;
}

/* Add shadows to create the "card" effect */
.projects .card {
    width: 250px;
    height: 150px;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
    float: left;
}

/* On mouse-over, add shadow */
.projects .card:hover {
    box-shadow: 0 8px 16px 4px rgba(0,0,0,0.2);
}

.projects .card .card-container {
    padding: 20px;
    text-align: center;
}

.projects .card .card-container .description {
    text-align: left;
    padding-top: 8px;
}

.projects .card .card-container .role, .name {
    height: auto;
    font-size: 15px;
    line-height: 25px;
}

.education_experience {
    clear: both;
}

.education_experience .card {
    height: auto;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 20px;
}

.education_experience .card .card-container {

}

.card-container .table {
    display: table;
    width: 100%;
}

.card-container .table .title {
    margin: 10px;
    display: table-caption;
    text-align: center;
    font-size: larger;
    font-style: italic;
}

.card-container .table .column-heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 6px 1px rgba(0,0,0,0.2);
}

.card-container .table .row {
    display: table-row;
    border-style: hidden;
}

.card-container .table .row .column-heading, .column {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

.card-container .table .column-heading .column {
    padding: 4px;
    font-style: italic;
}

/* Media queries for responsiveness - depending on the width */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }

  .side-section {
    height: auto;
    margin-left: 0px;
    font-size: 10px;
    line-height: 20px;
  }

  .main-section {
    clear: both;
    float: none;
    padding: 30px;
    margin-top: -20px;
  }

  aside {
    float: none;
  }

  .container {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 150px;
  }
}


/* Add elements using a form */
.form-container {
  text-align: center;
}

input[type=text] {
  height: 30px;
  padding: 10px;
}

input[type=text]:focus {
    border: 3px #555;
}

button {
    height: 30px;
}

.form-container .item_list {
    margin: 10px;
}

ul#items {
  height: auto;
  scroll-behavior: smooth;
}

ul#items li span  {
    padding: 20px;
}
